﻿@model PhysicianSearch.Models.Search

<strong>Gender</strong><br />
@if (Model != null)
{
    foreach (KeyValuePair<string, int> gender in Model.returnedFacets.GenderFacet)
    {
        var exists = (Model.currentFacets.GenderFacet.Contains(@gender.Key)) ? "checked=\"checked\"" : "";
        <input type="checkbox" name="gender" value="@gender.Key" onchange="querySolr()" @exists /> @gender.Key <span>-</span> @gender.Value<br />
    }
}
<hr />