﻿@model PhysicianSearch.Models.Search

@if (Model != null)
{
    var start = Model.Start;
    var rows = Model.Rows;
    var total = Model.TotalDocs;

    for (int i = 0; i < (total + rows - 1)/rows; i++)
    {
        <a onclick="test(@(i + 1))">@(i + 1)</a>
    }

    <script>
        function test(e) {
            alert(e);
        }
    </script>
}
