﻿@model PhysicianSearch.Models.Search

@if (Model != null)
{
    <span>Number Found: </span> @Model.TotalDocs
    foreach (var item in Model.Physicians)
    {
        <hr />
        <div>
            @item.FirstName @item.LastName @item.Degree <br />
            @item.Specialty
        </div>
    }
}