﻿@model PhysicianSearch.Models.Search

<strong>Specialties</strong><br />
@if (Model != null)
{
    foreach (KeyValuePair<string, int> specialty in Model.returnedFacets.SpecialtyFacet)
    {
        var exists = (Model.currentFacets.SpecialtyFacet.Contains(@specialty.Key)) ? "checked=\"checked\"" : "";
        <input type="checkbox" name="specialty" value="@specialty.Key" onchange="querySolr()" @exists /> @specialty.Key <span>-</span> @specialty.Value<br />
    }
}
<hr />