﻿@model PhysicianSearch.Models.Search

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <div class="col-md-3">

        <form action='@Url.Action("Query", "Search")' method="post">
            <input id="query" type="text" name="query" />
            <input type="submit" value="Submit" />
            <hr />
        </form>

        <div class="facets">
            <div class="specialties">

            </div>

            <div class="genders">

            </div>
        </div>

    </div>

    <div class="col-md-9">
        <div class="results">

        </div>

        <div class="pagination">

        </div>
    </div>
</div>
<script>
    var initSpecialties;

    $(document).ready(function () {
        getFacets();

        $('form').on('submit', function (e) {
            e.preventDefault();
            querySolr();
        });

        $('#query').autocomplete({
            source: function (request, response) {
                var specialties = $.ui.autocomplete.filter(initSpecialties, request.term);

                $.ajax({
                    type: "POST",
                    url: "/Search/getTypeahead",
                    data: "query=" + request.term,
                    dataType: "json",
                    success: function (data) {
                        response(data.concat(specialties));
                    }
                })
            },
            minLength: 3
        })
    });

    function querySolr() {
        query = $('#query').val();
        specialties = '&specialty=' + $('input[name="specialty"]:checkbox:checked').map(function () {
            return this.value;
        }).get().join(',');
        genders = '&gender=' + $('input[name="gender"]:checkbox:checked').map(function () {
            return this.value;
        }).get().join(',');

        $.ajax({
            type: "POST",
            url: "/Search/GetViews",
            data: "query=" + query + specialties + genders,
            success: function (response) {
                if (response != null) {
                    $('.results').html(response.searchResultsView);
                    $('.specialties').html(response.specialtiesFacetsView);
                    $('.genders').html(response.genderFacetsView);
                    $('.pagination').html(response.paginationView);
                }
            },
            error: function (response) {
                console.log(response);
            }
        })
    }

    function getFacets() {
        $.ajax({
            type: "POST",
            url: "/Search/GetFacets",
            success: function (response) {
                if (response != null) {
                    initSpecialties = response[0].Value;
                }
            },
            error: function (response) {
                console.log(response);
            }
        })
    }
</script>